[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "pysb-tutorials"]
	path = pysb-tutorials
	url = git://github.com/lolab-vu/pysb-tutorials.git
